<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="org.modelio.module.cpswarm.impl.CPSWarmModule" binaryversion="3.8.0" version="${project.version}" schema-level="2" uid="b914be5e-e9d5-4c22-84be-9edec27e429c" author="" image="" url="">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/jaxen-1.1.jar"/>
        <PathEntry path="lib/dom4j-1.6.1.jar"/>
        <PathEntry path="lib/jdom-1.0.jar"/>
        <PathEntry path="lib/xml-apis-1.3.02.jar"/>
        <PathEntry path="lib/xom-1.0.jar"/>
        <PathEntry path="lib/xmlParserAPIs-2.6.2.jar"/>
        <PathEntry path="lib/xalan-2.6.0.jar"/>
        <PathEntry path="lib/icu4j-2.6.1.jar"/>
        <PathEntry path="lib/jdom-1.1.3.jar"/>
        <PathEntry path="lib/jackson-core-2.8.7.jar"/>
        <PathEntry path="lib/jackson-databind-2.8.7.jar"/>
        <PathEntry path="lib/jackson-annotations-2.8.7.jar"/>
        <PathEntry path="lib/xercesImpl-2.11.0.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="fb99423e-12d3-4505-926b-f150a22ec337" id="CPSWarm.concept">
            <Stereotype name="Environment" metaclass="Standard.Class" owner-stereotype="" is-hidden="true" label="%stereotype.Environment.label" uid="308a413a-7415-46f0-b2f5-3a0abc21a4b4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="FitnessFunction" metaclass="Standard.Class" owner-stereotype="" is-hidden="true" label="%stereotype.FitnessFunction.label" uid="67792719-f8fd-47e6-b093-2c5244565789" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="minimumCandidates" uid="04028dbd-2c81-41f4-ade6-95da3f3a4fce" label="%tagtype.null.label" parameter-card="" is-hidden="false" is-signed="false"/>
                    <TagType name="maximumCandidates" uid="d5d00754-2592-4ad8-bd95-bb22c7b80a78" label="%tagtype.null.label" parameter-card="" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="Problem" metaclass="Standard.Class" owner-stereotype="" is-hidden="true" label="%stereotype.Problem.label" uid="5bfe0e67-fb3e-49db-a10e-7b62c4d44aed" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="maxSteps" uid="664ec57a-18d2-485f-be50-e480e4b7c530" label="%tagtype.maxSteps.label" parameter-card="1" is-hidden="true" is-signed="true"/>
                    <TagType name="name" uid="2a0aac55-08e8-41f2-aadf-3f6f20ffafb6" label="%tagtype.null.label" parameter-card="" is-hidden="false" is-signed="false"/>
                    <TagType name="numEvaluations" uid="20c47eda-b426-4986-bd63-940083400422" label="%tagtype.null.label" parameter-card="" is-hidden="false" is-signed="false"/>
                    <TagType name="seed" uid="f26564b3-a099-4ce4-a6bf-560a2b4f9219" label="%tagtype.null.label" parameter-card="" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="Swarm" metaclass="Standard.Class" owner-stereotype="" is-hidden="true" label="%stereotype.Swarm.label" uid="b7712590-a4be-4290-b91e-1e8e27d8005c" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Swarm_Member" metaclass="Standard.Class" owner-stereotype="" is-hidden="true" label="%stereotype.Swarm_Member.label" uid="716ed069-c82d-4d0e-a2c8-c19ca8eeb165" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Controller" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Controller.label" uid="ba5073cb-49b9-4e5b-84ff-252f8bc1efe9" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Virtual" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Virtual.label" uid="bd764e2a-af34-4cf3-a783-cb467d8753e7" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Sensor" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Sensor.label" uid="0cc49982-e520-401e-91b9-49354b24e208" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Actuator" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Actuator.label" uid="431b7386-fd22-474a-a1f0-262e6cb763df" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
        <Profile uid="8e8834de-b0af-4b68-8350-7eca4cf46118" id="CPSWarm.diagram">
            <Stereotype name="Environment_Defintion" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="true" label="%stereotype.Environment_Defintion.label" uid="ce8245e0-8e1c-4933-bfea-65fd07125278" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Fitness_Definition" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="true" label="%stereotype.Fitness_Definition.label" uid="dc1f68eb-7f48-441d-8d57-448bbea30cb4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Problem_Statement" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="true" label="%stereotype.Problem_Statement.label" uid="b46348ff-6385-41eb-a05d-d38bc335db02" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SwarmMember_Architecture" metaclass="Standard.CompositeStructureDiagram" owner-stereotype="" is-hidden="true" label="%stereotype.SwarmMember_Architecture.label" uid="6bf28b61-a789-409c-b045-906917cbe3ac" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Swarm_Definition" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="true" label="%stereotype.Swarm_Definition.label" uid="049f3c35-2a0b-46d7-8f07-6b69fca92b32" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Behavior" metaclass="Standard.StateMachine" owner-stereotype="" is-hidden="false" label="%stereotype.Behavior.label" uid="a993fdfc-bb89-477d-99fe-2a4b3bc43f27" is-abstract="true">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Virtual" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Virtual.label" uid="deae2aa5-76e9-4928-8aab-823e79452e4f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Controller" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Controller.label" uid="ac561067-1929-465a-8402-d6f5d5175d62" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Sensor" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Sensor.label" uid="c40755d1-21f8-4111-bee6-d9f2140891fe" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Actuator" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Actuator.label" uid="44dd8f28-3be4-4c0a-9454-dbede0366d32" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="SCXML Generation" label="%command.SCXMLGeneration.label" tooltip="%command.SCXMLGeneration.tooltip" image="" modify-model="true">
                <Scope metaclass="Standard.StateMachine" stereotype=""/>
                <Handler class="org.modelio.module.cpswarm.command.explorer.SCXMLGeneration"/>
            </Command>
            <Command id="CPDT" label="%command.CPDT.label" tooltip="%command.CPDT.tooltip" image="" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="org.modelio.module.cpswarm.command.explorer.CPDTCommand">
                    <HParameter name="name" value=""/>
                </Handler>
            </Command>
            <Command id="BehaviorDiagram" label="%command.BehaviorDiagram.label" tooltip="%command.BehaviorDiagram.tooltip" image="" modify-model="false">
                <Scope metaclass="Standard.NameSpace" stereotype=""/>
                <Handler class="org.modelio.module.cpswarm.command.explorer.diagram.command.BehaviorDefinitionDiagram"/>
            </Command>
            <Command id="AlgorithmImport" label="%command.AlgorithmImport.label" tooltip="%command.AlgorithmImport.tooltip" image="" modify-model="false">
                <Scope metaclass="Standard.NameSpace" stereotype=""/>
                <Handler class="org.modelio.module.cpswarm.command.explorer.AlgorithmImport">
                    <HParameter name="name" value=""/>
                </Handler>
            </Command>
            <Command id="AbstractionImport" label="%command.AbstractionImport.label" tooltip="%command.AbstractionImport.tooltip" image="" modify-model="false">
                <Scope metaclass="Standard.NameSpace" stereotype=""/>
                <Handler class="org.modelio.module.cpswarm.command.explorer.AbstractionImport">
                    <HParameter name="name" value=""/>
                </Handler>
            </Command>
        </Commands>
        <ContextualMenu>
            <CommandRef refid="SCXML Generation" group="" group-image=""/>
            <CommandRef refid="CPDT" group="" group-image=""/>
            <CommandRef refid="BehaviorDiagram" group="" group-image=""/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="CPSWarm#Problem_Statement">
                <Palette keepBasePalette="true"/>
                <Wizard label="%wizard.Problem_Statement.label" icon="" information="%wizard.Problem_Statement.info" details="%wizard.Problem_Statement.detail" preview-image="">
                    <Scope metaclass="Standard.Package" stereotype=""/>
                    <Handler class="GenericWizardContributor"/>
                </Wizard>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="CPSWarm#Problem_Statement"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="CPSWarm#Fitness_Definition">
                <Palette keepBasePalette="true"/>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="CPSWarm#Fitness_Definition"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="CPSWarm#Environment_Defintion">
                <Palette keepBasePalette="true"/>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="CPSWarm#Environment_Defintion"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="CPSWarm#Swarm_Definition">
                <Palette keepBasePalette="true"/>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="CPSWarm#Swarm_Definition"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.CompositeStructureDiagram" stereotype="CPSWarm#SwarmMember_Architecture">
                <Palette keepBasePalette="true"/>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="CPSWarm#SwarmMember_Architecture"/>
                    <HParameter name="metaclass" value="Standard.CompositeStructureDiagram"/>
                </Handler>
            </DiagramType>
        </Diagrams>
        <Views>
            <PropertyPage id="CPSWarmPropertyPage" class="org.modelio.module.cpswarm.impl.CPSWarmProperties" label="%propertypage.CPSWarmPropertyPage.label" image="res/icons/cpswarm.png"/>
        </Views>
    </Gui>
    <Dependencies>
        <Required name="ModelerModule" version="9.0.07"/>
        <Required name="SysMLArchitect" version="3.8.01"/>
    </Dependencies>
</Module>
